<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Detalhes da Notícia</title>
</head>
<body>
  <header class="header">
    <ul class="header-links">
        <li><a href="{% url 'home-page' %}">Home</a></li>
    </ul>
  </header>

  <div class="news-details">
    <h1>{{ news.title }}</h1>
    <p class="news-content">{{ news.content }}</p>
    <div>
        {% for category in news.categories.all %}
            <span class="news-categories">{{ category.name }}</span>
        {% endfor %}
    </div>
    <span class="news-author">Autor: {{ news.author }}</span>
    <img src="{{ news.image.url }}" alt="{{ news.title }}" />
    <p>Data de Criação: {{ news.created_at|date:"d/m/Y" }}</p>
  </div>
</body>
</html>