{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Página de Detalhes da Notícia</title>
{% endblock %}

{% block content %}
  <div class="news-details">
    <h1 class="news-title">{{ news.title }}</h1>
    <p class="news-content">{{ news.content }}</p>
    <div>
        {% for category in news.categories.all %}
            <span class="news-categories">{{ category.name }}</span>
        {% endfor %}
    </div>
    <span class="news-author">Autor: {{ news.author }}</span>
    <img src="{% static news.image.url %}" alt="{{ news.title }}" />
    <p>Data de Criação: {{ news.created_at|date:"d/m/Y" }}</p>
  </div>
{% endblock %}